body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    min-height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px
}
#header a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
#img_div{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#img_div:hover{
    transform: scale(1.1);
}
#img_div img{
    width: auto;
    max-height: 500px;
}
#row_1{
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
}
#row_1 p{
    font-size: 20px;
}
#row_1 #column_1{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_1 #column_1:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
    font-size: 30px;
}
#row_1 #column_1 img{
    width: auto;
    max-height: 300px;
}
#row_1 #column_2{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_1 #column_2:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
}
#row_1 #column_2 img{
    width: auto;
    max-height: 300px;
}

#row_1 #column_3{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_1 #column_3 img{
    width: auto;
    max-height: 300px;
}
#row_1 #column_3:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
}

#row_2{
    display: flex;
    justify-content: space-around;
}
#row_2 p{
    font-size: 20px;
}
#row_2 #column_1{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_2 #column_1:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
}
#row_2 #column_1 img{
    width: auto;
    max-height: 300px;
}
#row_2 #column_2{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_2 #column_2:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
}
#row_2 #column_2 img{
    width: auto;
    max-height: 300px;
}

#row_2 #column_3{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 5px 5px 10px lightgrey;
}
#row_2 #column_3 img{
    width: auto;
    max-height: 300px;
}
#row_2 #column_3:hover{
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgrey;
}

#footer{
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #fff;
    padding-top: 10px;
    font-size: 30px;
    color: white;
    background-color: black;
    min-height: 100px;
}
